/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%; /* Garante que o corpo ocupe toda a largura da tela */
    height: 100%; /* Garante que o corpo ocupe toda a altura da tela */
    margin-left: -160px;
}


html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85,85,85);
}

/* TRANSITIONS */

a, .btn {
    transition: all 300ms ease;
}

/* DESKTOP NAV */

#desktop-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 13vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1rem;
}

a {
    color: white;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: rgb(181,181,181);
}

.logo {
    font-size: 1.7rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.logo:hover {
    cursor: pointer;
}

/* HAMBURGER MENU */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: black;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 700px;
}

.hamburger-icon.open span:nth-child(1) {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:nth-child(1) {
    transform: none;
}

.hamburger-icon span:nth-child(2) {
    opacity: 1;
}

.hamburger-icon span:nth-child(3) {
    transform: none;
}

/* SECTIONS */

section {
    position: relative;
    padding-bottom: 60px;
    padding-top: 4vh;
    margin: 4vh 10rem; /* Ajuste a margem para cima e para baixo */
    box-sizing: border-box;
    min-height: fit-content;
}

/* Adicione um espaçamento maior entre as seções */
section:not(:last-child) {
    margin-bottom: 8vh; /* Ajuste o espaçamento inferior */
}

/* MENU INICIAL */

#menu-inicio {
    display: flex;
    gap: 50px;
    margin-top: 100px;
}

.descricao-container {
    display: none; /* Inicialmente, a descrição estará oculta */
    position: absolute; /* Posicionamento absoluto em relação ao container pai */
    top: 50%; /* Ajuste a parte superior para 50% do container pai */
    left: 50%; /* Ajuste a parte esquerda para 50% do container pai */
    transform: translate(-50%, -50%); /* Move o elemento de volta metade de sua própria largura e altura */
    color: black; /* Cor do texto */
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Borda arredondada */
}

.preview {
    position: relative;
    width: 300px;
    height: 450px;
    border: 1px solid #000000;
    background: rgb(17,30,58);
    border-radius: 10px;
    margin-right: 20px;
    transition: transform 0.3s;
}

.preview:hover {
    cursor: pointer;
    transform: scale(1.2);
    z-index: 1;
}

.preview img {
    display: block;
    width: 150px; /* Ajuste a largura da imagem conforme necessário */
    height: 150px;
    margin: 0 auto; /* Centraliza a imagem horizontalmente */
    position: absolute;
    top: 40px; /* Ajuste a distância da borda superior conforme necessário */
    left: 50%;
    transform: translateX(-50%); /* Centraliza a imagem verticalmente */
}

#preview-engenharia img {
    width: 130px;
    height: 150px;
    top: 50px;
}

.inicio-title {
    font-weight: 400;
    color: white;
    text-align: center;
    margin-top: 350px;
}

.descricao-container-valduga, .descricao-container-SH, .descricao-container-engenharia {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 42%; /* Posiciona a lista abaixo do título com um pequeno espaçamento */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 5px;
    max-width: 200px; 
}

.descricao-texto-engenharia {
    font-weight: 400;
    font-size: 0.9em; /* Reduza o tamanho da fonte */
    margin: 5px 0; /* Adicione um pequeno espaçamento vertical entre os itens da lista */
}

.descricao-texto-valduga {
    font-weight: 400;
    font-size: 0.85em;
    margin: 3px 0;
}

.descricao-texto-SH {
    font-weight: 400;
    font-size: 0.75em;
    margin: 2px 0;
}

/* SLIDESHOW */

.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 0;
    z-index: 2;
}

.slide {
    display: none;
    width: 100%;
}

.slide img {
    height: 600px;
    width: 100%; /* Adicione esta linha para garantir que a imagem ocupe 100% do contêiner */
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}

.prev-SH, .next-SH {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -70px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.prev-SH {
    left: 0; /* Alinha o botão à esquerda */
    border-radius: 3px 0 0 3px; /* Ajusta o arredondamento do canto */
}

.next-SH {
    right: 2.55rem; /* Alinha o botão à direita */
    border-radius: 3px 0 0 3px; /* Ajusta o arredondamento do canto */
}

.prev-SH:hover, .next-SH:hover {
    background-color: rgba(192, 192, 192, 0.8);
}

.prev-engenharia, .next-engenharia {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -70px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
}

.prev-engenharia {
    left: 0; /* Alinha o botão à esquerda */
    border-radius: 3px 0 0 3px; /* Ajusta o arredondamento do canto */
}

.next-engenharia {
    right: 2.55rem; /* Alinha o botão à direita */
    border-radius: 3px 0 0 3px; /* Ajusta o arredondamento do canto */
}

.prev-engenharia:hover, .next-engenharia:hover {
    background-color: rgba(192, 192, 192, 0.8);
}



/* Estilo dos indicadores */

.indicators {
    text-align: center;
    padding: 20px;
    background: transparent; /* Fundo transparente */
}

.indicator {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 5px;
    border: 2px solid black; /* Borda para criar a bolinha */
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent; /* Fundo transparente */
}

.active {
    background-color: #717171; /* Cor de preenchimento quando ativo */
    border: 2px solid #717171; /* Borda da bolinha ativa */
}

/* SH SECTION */

#SH-estruturas-metalicas {
    height: 1000px;
    margin-right: -200px;
    background: linear-gradient(to bottom, rgb(16,41,77), rgb(98,60,96));
    z-index: 1;
}

.SH-title {
    margin-top: 30px;
    color: white;
}

a.link-SH {
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
}

a.link-SH:hover {
    color: whitesmoke;
    text-underline-offset: 0.2rem;
    text-decoration-color: whitesmoke;
}

/* PROFILE SECTION */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
    margin-right: -200px;
    margin-bottom: -32px;
    background: linear-gradient(to bottom, rgb(6,17,49), rgb(16,41,77));
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
    text-align: center;
}

.section__text__p1 {
    text-align: center;
}

.section__text__p2 {
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    padding-top: 4rem;
    font-size: 3rem;
    text-align: center;
}

.title-perfil {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    color: white;
}

.btn-color-1, .btn-color-2 {
    border: rgb(6,17,49) 0.1rem solid;
}

.btn-color-1:hover, .btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1, .btn-color-2 {
    background: none;
    color: white;
}

.btn-color-1:hover, .btn-color-2:hover {
    background: rgb(0,0,0);
    border: rgb(255,255,255) 0.1rem solid;
}

.btn-container {
    gap: 1rem;
}

/*BUTTONS SH */

.SH-btn {
    width: 170px;
    background-color: rgb(17, 30, 58);
    color: white;
    font-size: 0.9em;
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms ease;
    margin-top: 10px;
}


.SH-btn:hover {
    background: rgb(51,29,56);
    color: white;
    transition: all 300ms ease;
}

/* ENGENHARIA SECTION */

#engenharia-estruturas-metalicas {
    margin-right: -200px;
    margin-top: -64px;
    background: linear-gradient(to bottom, rgb(98,60,96), rgb(186,112,88));
    height: 900px;
}

.engenharia-title {
    color: white;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    border-radius: 2rem;
    border: rgb(53,53,53) 0.1rem solid;
    border-color: rgb(163,163,163);
    text-align: center;
}

/* FAMILIA VALDUGA SECTION */

#famiglia-valduga {
    position: relative;
    padding: 2rem;
    background: linear-gradient(to bottom, rgb(186,112,88), rgb(218,151,80));
    margin-top: -64px;
    width: 100%; /* Ajusta para ocupar toda a largura */
    max-width: 100%; /* Ajuste para ocupar toda a largura */
    margin-right: -60px;
}

.valduga-title {
    font-size: 3rem;
    text-align: center;
    color: white;

}


.valduga-sub-title {
    font-size: 2rem;
    color: white;
    text-align: center;
}

.paragrafo-valduga{
    font-size: 1.3rem;
    color: white;
    width: 800px; /* Limita a largura máxima do parágrafo a 80% da largura do contêiner */
    margin: 0 auto; /* Centraliza o parágrafo horizontalmente */
    padding: 0 20px; /* Adiciona padding para que o texto não encoste nas bordas */
    text-align: center; /* Opcional: justifica o texto para melhor legibilidade */
}

.compre-direto-vinicola {
    color: rgb(181,181,181);
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.valduga-details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.details-container {
    flex: 1 1 calc(33.333% - 2rem);
    max-width: calc(33.333% - 2rem);
    padding: 1rem;
    border: 1px solid rgb(163, 163, 163);
    background: rgb(144,75,20);
    border-radius: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    box-sizing: border-box;
}

.details-container:nth-child(3n+1),
.details-container:nth-child(3n+2) {
    margin-bottom: 1rem;
}

.details-container:nth-child(4),
.details-container:nth-child(5) {
    flex: 1 1 calc(50% - 2rem);
    max-width: calc(50% - 2rem);
}

.article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.logo-empresas-img {
    border-radius: 1rem;
    width: 100%;
    max-width: 150px;
    max-height: 100px;
    object-fit: contain;
    margin-bottom: 1rem;
}

.empresa-title {
    margin: 1rem 0;
    color: white;
    font-size: 1.5rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
}

.empresa-btn {
    color: white;
    border: 1px solid rgb(163, 163, 163);
    background: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 1rem;
}

.empresa-btn:hover {
    background: black;
}

/* ABOUT SECTION */

#about {
    padding-top: 100px; /* Adicionar padding na parte superior da seção "about" */
    margin-right: -200px;
    margin-top: -64px;
    background: linear-gradient(to bottom, rgb(218,151,80), rgb(186,112,88));
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-right: 90px;
    margin-left: 9rem;
}

.about-details-container {
    margin-left: 12rem;
    justify-content: center;
    flex-direction: column;
}

.about-containers, .about-details-container {
    width: 800px;
    display: flex;
}

.details-container-sobre { /* Apenas na parte sobre mim */
    padding: 1.5rem;
    flex: 1;
    background: rgb(111,58,26);
    border-radius: 2rem;
    border: rgb(53,53,53) 0.1rem solid;
    border-color: rgb(163,163,163);
    text-align: center;
}

.text-container {
    margin-left: -11rem;
}

.section-container {
    gap: 4rem;
    height: 80%;
    width: 100%;
}

.sobre-title {
    font-size: 3rem;
    text-align: center;
    margin-left: -50px;
    color: white    ;
}

.sobre-sub-title {
    font-size: 1.5rem;
    color: white;
    margin-bottom: -10px;
}

.about-p {
    color: white;
    font-size: 1.1em;
    margin-top: 5px;
    cursor: default;
}
#acervo-tecnico {
    color: white;
    margin-bottom: 10px;
}

.paragrafo-sobre-mim {
    font-size: 1rem;
    text-align: center;
    width: 900px; /* Limita a largura máxima do parágrafo a 80% da largura do contêiner */
    margin-left: 18rem;
    color: white;
}

/* CONTACT */

#contact {
    margin-right: -200px;
    margin-top: -64px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgb(186, 112, 88);
    height: calc(100vh - 64px); /* Altura igual à altura da tela menos a margem superior */
    margin-bottom: 0; /* Remover a margem inferior */
    position: relative; /* Necessário para o overlay */
}

.contact-info-upper-container {
    width: 400px;
    display: flex;
    justify-content: space-between; /* Distribuir os elementos ao longo do espaço disponível */
    align-items: flex-start; /* Alinhar os itens ao topo */
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(0, 0, 0);
    background: rgb(186, 112, 88);
    margin: 2rem auto;
    padding: 0.5rem;
}

.linkedin-container {
    margin-left: auto;
    margin-right: 20px; /* Adicionar espaço à direita */
    display: flex;
    align-items: flex-start;
}

.email-container {
    margin-right: auto;
    display: flex;
    align-items: flex-start;
}

.contact-p {
    color: white;
}

.contact-p:hover {
    cursor: pointer;
    color:  grey;
    text-decoration: underline;
    text-decoration-color: rgb(163,163,163);
    text-underline-offset: 0.5rem;
    transition: all 300ms ease;
}

.email-a:hover {
    cursor: pointer;
    color: white;
}

.contact-title {
    color: black;
    text-align: center;
}

.contact-info-container {
    display: flex;
    align-items: center; /* Alinhar verticalmente */
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: default;
    margin-right: 0.5rem; /* Espaçamento entre o ícone e o texto do link */
    align-self: flex-start; /* Alinhar o ícone à esquerda */
    max-height: 1.8rem;
}

.email-preview-container {
    display: none;
    flex-direction: column; /* Ajustar para coluna */
    width: 500px;
    height: 160px;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: black;
    background: rgb(186, 112, 88);
    margin-bottom: 2rem;
    padding: 0.5rem;
    position: absolute;
    top: 50px; /* Ajustar conforme necessário */
    left: 50%; /* Centralizar horizontalmente */
    transform: translateX(-50%);
    z-index: 1001; /* Garantir que está acima do overlay */
}

.linkedin-icon {
    margin-top: 3px;
    width: 25px;
    height: 25px;
}

.whatsapp-icon {
    width: 29px;
    height: 29px;
}

.email-preview-container .close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    align-self: flex-end; /* Alinhar o botão de fechar à direita */
}

.overlay {
    display: none; /* Ocultar por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000; /* Garantir que está abaixo do email-preview-container */
}

.footer-p {
    margin-top: 75px;
    color: black;
    text-align: center;
}
